<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AI-QUIZ-APP</title>
    <link href="./static/css/output.css" rel="stylesheet" />
  </head>
  <body class="h-screen ml-20 mt-20 bg-gray-50">
    <form action="/" method="POST">
      <div class="input-group mb-3">
        <div class="input-group-prepend m-2 mb-2">
          <label for="inputprovider" class="form-label font-bold"
            >ENTER A TOPIC</label
          >
        </div>

        <input
          id="inputprovider"
          type="text"
          name="topic"
          class="border border-gray-300 p-2 w-1/2 rounded m-2 mb-4"
          placeholder="Topic Name"
        />
        <button
          class="ml-2 bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-2 rounded font-bold"
        >
          Submit
        </button>
      </div>
    </form>
  </body>
</html>
