<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{topic}} QUIZ</title>
    <link href="./static/css/output.css" rel="stylesheet" />
  </head>
  <body class="h-screen ml-20 mt-20 bg-gray-50">
    <h2 class="text-2xl font-bold mb-4">Quiz on: {{ topic }}</h2>
    <pre class="bg-white p-4 rounded shadow whitespace-pre-wrap">
{{ response }}</pre
    >
    <a
      href="/"
      class="m-2 ml-2 bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-2 rounded inline-block font-bold"
    >
      Back
    </a>
  </body>
</html>
